@use "../helpers/" as *;

.card-strategies {
  padding: rem(16) rem(20);
  min-height: rem(144);
  border: 1px solid var(--color-light);
  border-radius: var(--border-radius-small);

  @include hover {
    border: 1px solid var(--color-blue);
    border-radius: var(--border-radius-small);
    box-shadow: 0 2px 6px 0 rgba(56, 127, 245, 0.3),
      0 13px 12px 0 rgba(56, 127, 245, 0.05),
      0 24px 15px 0 rgba(56, 127, 245, 0.05),
      0 40px 16px 0 rgba(56, 127, 245, 0.05),
      0 62px 17px 0 rgba(56, 127, 245, 0.05);
  }

  &__header {
    display: flex;
    align-items: center;
    column-gap: rem(12);

    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }

  &__title {
    @include fluid-text(16, 16);

    line-height: 1.6;
  }

  &__description p {
    max-height: rem(78);
    overflow-y: hidden;
    text-overflow: ellipsis;
    color: var(--color-text);
    opacity: 0.8;
  }
}
