@use "../helpers/" as *;

.section {
  padding-block: 128px 112px;

  &--hero-padding {
    padding-block: fluid(128, 60) 0;
  }

  &--hero-padding-strategies {
    padding-block: fluid(128, 60) fluid(112, 6);
  }

  &--hero-padding-reviews {
    padding-block: fluid(128, 60) fluid(112, 0);
  }

  &__header {
    margin-bottom: fluid(60, 32);
  }

  &__header-body {
    max-width: rem(860);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-inline: auto;
    row-gap: rem(16);

    &--hero-gap {
      max-width: rem(520);
      row-gap: rem(20);

      &:not(:last-child) {
        margin-bottom: rem(40);
      }
    }

    &--reviews-gap {
      max-width: rem(800);
    }
  }

  &__header-description {
    font-weight: 400;
    max-width: 88%;
    color: var(--color-text);
  }

  &__header-actions-buttons {
    @include flex-center;

    column-gap: rem(12);

    @include mobile {
      flex-direction: column;
      align-items: normal;
      row-gap: rem(12);
    }

    &--strategies-row {
      flex-direction: row;

      & button {
        width: rem(147);
        margin: 0;
        
      }
    }
  }

  &__header-actions-button-trial,
  &__header-actions-button-video {
    @include mobile {
      width: 100%;
      max-width: rem(380);
      margin: auto;
    }
  }

  &--strategies-padding {
    margin-bottom: rem(60);
  }

  &--reviews-padding {
    margin-bottom: rem(48);
  }
}
