@use "../helpers" as *;

:root {
  --color-light: #ffffff;
  --color-dark: #1c1f25;
  --color-blue: #387ff5;
  --color-blue-dark: #32448b;
  --color-border-blue: #b6d1fb;
  --color-text: #4b5162;
  --color-text-alt: #626981;
  --color-border-button-alt: #b6bccd;
  --color-text-dark-theme: #BEC2D3;
  --color-dark-theme: #171c2f;
  --border-line: #d2d5e2;
  --color-gray-n600: #79829f;
  --color-gray-n200: #eceef4;
  --color-gray-n900: #343844;
  --color-gray-n400: #b6bccd;


	--primary-pr400: #88b2f9;
	
	--neutral-n100: #f5f7fa;
	--neutral-n800: #4b5162;
	
	--primary-pr500: #6099f7;
	--neutral-n500: #9ea5bd;
	--primary-pr800: #224c93;
	--primary-pr700: #2d66c4;
	--primary-pr300: #b6d1fb;
	--primary-pr200: #e2ecfe;

  --border: 1px solid var(--border-line);
  --border-button-light-blue: 1px solid var(--color-border-blue);
  --border-button-alt: 1px solid var(--color-border-button-alt);

  --border-radius-small: 12px;
  --border-radius-medium: 20px;
  --border-radius-medium-large: 24px;
  --border-radius-large: 32px;
  --border-radius-hige: 48px;

  --button-height: #{rem(48)};

  --font-family-base: "Inter", "sans-serif";
  --font-family-title: "DMSans", "sans-serif";
  --font-family-third: "dinpro", "sans-serif";

  --container-width: #{rem(1200)};
  --container-padding-x: #{rem(20)};

  --transition-duration: 0.3s;
}
